@model IEnumerable<KorpaAdmin.Models.Domain.Food_items>

@{
    ViewData["Title"] = "Index";
}


<h1>Menu for </h1>

<p>
    <a asp-action="CreateFood" asp-route-id="@ViewData["RestaurantId"]">Add new Food</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Image)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Ingredients)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    <img src="@item.Image" />
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Ingredients)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Price)
                </td>
                <td>
                    <a asp-action="EditFood" asp-route-id="@item.Id">Edit</a> |
                    <a asp-action="DetailsFood" asp-route-id="@item.Id">Details</a> |
                    <a asp-action="DeleteFood" asp-route-id="@item.Id">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
